// you can change colors here
$theme-color: #2090ff;

// theme font
$font-family:'MiSans,-apple-system,  "PingFang SC",  "Noto Serif SC", "Microsoft Yahei", "ST Heiti", sans-serif';
$font-family-heading: 'MiSans,-apple-system,  "PingFang SC",  "Noto Serif SC", "Microsoft Yahei", "ST Heiti", sans-serif';
